.Navbar {
    margin: 50px 0;
    ul {
    background: rgb(136,136,136);
    color: white;
    text-align: center;

    li{
        display: inline;
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background: rgb(200, 200, 200);
    }
}
}