
.Navbar {
    position: relative;
    margin: 50px 0;
    width: 100%;
    text-align: center;
    z-index: 1;
   
    div{
        position: absolute;
        width: 100%;
        top: 45%;
        height: 10%;
        background-color: rgb(122, 122, 122);
        
       
    }
    button{
        transform: scale(1);
        border: none;
        display: inline;
        color: white;
        margin: 10px;
        padding: 20px;
        background: rgb(168, 168, 168);
        transition: all 0.3s ease-in-out;
        
        
        &:hover{
            cursor: pointer;
            transform: scale(0.9);
            background: rgb(122, 122, 122);
        }
        &.active{
            transform: scale(1.2);
            background: rgb(122, 122, 122);  
        }
    }
   
}

